img{
    position: absolute;
    padding-top: 20%;
    width: 80%;
    margin-left: 3%;
    bottom: 10%;
}
body{
    padding-top: 4%;
    background-color: #fce5e577;
    font-weight: 500;
    font-family: 'Inconsolata', monospace;

}

.detail{
    position: relative;
    width: 85%;
    left: 15%;
}

#addblocktag{
    background-color: transparent;
    border: 0px;
    color: #333;
    font-weight: 800;
    font-size: 2em;
}

#addurl{

    background-color: transparent;
    border: 0px;
    color: #333;
    font-weight: 800;
    font-size: 2em;

}

.textinput_short{
    width: 90%;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #333;
}

form{
    padding-top: 4%;
    padding-bottom: 2em;
}

h3{
    padding-bottom: 0.3em;
    border-bottom: 4px solid #ed9eb277;
    font-weight: 700;
}

.col-sm-4{
    height: 100%;
    position: fixed;
    left: 3%;
    
    width: 30%;
}

.col-sm-4 h2{
    padding: 5%;
    font-weight: 700;
    color: #333;
    position: absolute;
    top: 3%;
}

.bord {
  border-left: 4px solid #ed9eb277;
}

.col-sm-8{
    position: absolute;
    left: 33%;
    width: 60%;
}

.textinput{
    height: 2em;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid black;
    width: 100%;
}

.sent-mail{
    position: absolute;
    bottom: calc(5% + 1em);
    right: 3.3em;
}
.sent-mail img{
    width: 1.5em;
}

.form{
/*    background-color: #ed9eb233;*/
    color: #444;
    padding: 3%;
    padding-bottom: 5%;
    font-size: 23px;

}

.switch{
    margin-right: 0.5em;
}

label{
    padding-bottom: 0.5em;

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5393ed;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5393ed;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#messageus{
    margin-bottom: 4em;
}